language: python
matrix:
  include:
    - python: "3.6"
    - python: "3.7"
      dist: xenial
      sudo: true
install:
  - pip install -e '.[testing]'
script:
  - pytest --cov=htmldoom
after_success:
  - bash <(curl -s https://codecov.io/bash)
