{% extends "jinja2_pages/layout.jinja2" %}
{% block contents %}
    <nav class="navbar navbar-light sticky-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://niteo.co/static_niteo_co/images/logo.svg" width="120" height="30" alt="Niteo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/careers">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://blog.niteo.co/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- HOME -->
    <section class="headline">
        <video poster="https://niteo.co/static_niteo_co/video/niteo_website_video.jpg" playsinline autoplay muted>
            <source src="https://niteo.co/static_niteo_co/video/niteo_website_video.webm" type="video/webm">
            <source src="https://niteo.co/static_niteo_co/video/niteo_website_video.mp4" type="video/mp4">
        </video>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <h1 class="text-white">Empowering Small Businesses</h1>
                    <h3 class="text-white">Niteo is a decade old SaaS studio full of
            bright ideas, building smart solutions that empower small
            businesses online.</h3>
                    <a href="/projects" class="btn btn-primary btn-lg d-block d-sm-inline mr-sm-2 mt-2">View Our Projects</a>
                    <a href="/team" class="btn btn-outline-primary btn-lg d-block d-sm-inline ml-sm-2 mt-3 mt-sm-2 text-white">Meet Our Team</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->

    <!-- VALUES -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md text-center">
                    <h1>Our Values</h1>
                    <p>These values are at the core of our company.
                        <br/> <a href="/about">Learn more about Niteo ...</a>
                    </p>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-2 d-none d-lg-block">
                    <div class="row justify-content-center">
                        <div class="col wow rotateInDownRight" data-wow-delay=".3s">
                            <img src="https://niteo.co/static_niteo_co/images/homepage/homepage_openness.svg" class="img-fluid niteo-value mx-auto d-block" alt="openness" />
                        </div>
                    </div>
                </div>
                <div class="col-2 d-none d-lg-block">
                    <div class="row justify-content-center">
                        <div class="col wow rotateInDownRight" data-wow-delay=".3s">
                            <img src="https://niteo.co/static_niteo_co/images/homepage/homepage_fairness.svg" class="img-fluid niteo-value mx-auto d-block" alt="fairness" />
                        </div>
                    </div>
                </div>
                <div class="col-2 d-none d-lg-block">
                    <div class="row justify-content-center">
                        <div class="col wow rotateIn" data-wow-delay=".3s">
                            <img src="https://niteo.co/static_niteo_co/images/homepage/homepage_curiosity.svg" class="img-fluid niteo-value mx-auto d-block" alt="curiosity" />
                        </div>
                    </div>
                </div>
                <div class="col-2 d-none d-lg-block">
                    <div class="row justify-content-center">
                        <div class="col wow rotateInDownLeft" data-wow-delay=".3s">
                            <img src="https://niteo.co/static_niteo_co/images/homepage/homepage_results.svg" class="img-fluid niteo-value mx-auto d-block" alt="results" />
                        </div>
                    </div>
                </div>
                <div class="col-2 d-none d-lg-block">
                    <div class="row justify-content-center">
                        <div class="col wow rotateInDownLeft" data-wow-delay=".3s">
                            <img src="https://niteo.co/static_niteo_co/images/homepage/homepage_agility.svg" class="img-fluid niteo-value mx-auto d-block" alt="agility" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-lg-2 text-center">
                    <div class="row justify-content-center">
                        <div class="col-8 col-sm-5 col-md-4 d-block d-lg-none mt-3 mt-lg-0">
                            <img src="https://niteo.co/static_niteo_co/images/homepage/homepage_openness.svg" class="img-fluid" alt="openness" />
                        </div>
                    </div>
                    <span class="btn btn-lg btn-outline btn-values my-4">Openness</span>
                </div>

                <div class="col-lg-2 text-center">
                    <div class="row justify-content-center">
                        <div class="col-8 col-sm-5 col-md-4 d-block d-lg-none mt-5 mt-lg-0">
                            <img src="https://niteo.co/static_niteo_co/images/homepage/homepage_fairness.svg" class="img-fluid" alt="fairness" />
                        </div>
                    </div>
                    <span class="btn btn-lg btn-outline btn-values my-4">Fairness</span>
                </div>

                <div class="col-lg-2 text-center">
                    <div class="row justify-content-center">
                        <div class="col-8 col-sm-5 col-md-4 d-block d-lg-none mt-5 mt-lg-0">
                            <img src="https://niteo.co/static_niteo_co/images/homepage/homepage_curiosity.svg" class="img-fluid" alt="curiosity" />
                        </div>
                    </div>
                    <span class="btn btn-lg btn-outline btn-values my-4">Curiosity</span>
                </div>

                <div class="col-lg-2 text-center">
                    <div class="row justify-content-center">
                        <div class="col-8 col-sm-5 col-md-4 d-block d-lg-none mt-5 mt-lg-0">
                            <img src="https://niteo.co/static_niteo_co/images/homepage/homepage_results.svg" class="img-fluid" alt="Results" />
                        </div>
                    </div>
                    <span class="btn btn-lg btn-outline btn-values my-4">Results</span>
                </div>

                <div class="col-lg-2 text-center">
                    <div class="row justify-content-center">
                        <div class="col-8 col-sm-5 col-md-4  d-block d-lg-none mt-5 mt-lg-0">
                            <img src="https://niteo.co/static_niteo_co/images/homepage/homepage_agility.svg" class="img-fluid" alt="agility" />
                        </div>
                    </div>
                    <span class="btn btn-lg btn-outline btn-values my-4">Agility</span>
                </div>

            </div>

        </div>
    </section>
    <!-- END VALUES -->

    <!-- HANDBOOK -->
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8">
                    <div class="jumbotron">
                        <h1>The Niteo Handbook</h1>
                        <p>For the last decade, we have been accumulating the knowledge and practicalities of running an Open Source business within our walled-off intranet. At our 10th Anniversary Party we realized that it was time that we made this valuable information public with the intent of helping people in similar positions.
                        </p>
                        <p>This Handbook offer us an opportunity to clarify what Niteo is and how we operate. It allows greater transparency to our partners, potential new team members, and the wider Open Source community.
                        </p>
                        <div class="text-center">
                            <a href="https://github.com/niteoweb/handbook" class="btn btn-primary btn-lg mt-4" target="_blank">
                View Our Handbook</a>
                        </div>
                    </div>
                </div>
                <div class="col px-5 mx-5 mx-md-0 px-md-0  wow bounceIn" data-wow-delay=".4s">
                    <img src="https://niteo.co/static_niteo_co/images/handbook_big.svg" class="img-fluid" alt="Handbook" />
                </div>
            </div>
        </div>
    </section>
    <!-- END HANDBOOK -->

    <!-- TECHNOLOGIES -->
    <section class="technologies">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>Technologies We Love</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 offset-lg-1">
                    <div class="jumbotron logo python wow slideInUp" data-wow-delay=".1s">
                        <img src="https://niteo.co/static_niteo_co/images/homepage/tech_logo_python.svg" alt="python" class="img-fluid mx-auto d-block" />
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="jumbotron logo wordpress wow slideInUp" data-wow-delay=".1s">
                        <img src="https://niteo.co/static_niteo_co/images/homepage/tech_logo_wp.svg" alt="wordpress" class="img-fluid mx-auto d-block" />
                    </div>
                </div>
            </div>

            <div class="row offset-top">
                <div class="col-lg-3 offset-lg-3">
                    <div class="jumbotron logo pyramid wow slideInDown" data-wow-delay=".1s">
                        <img src="https://niteo.co/static_niteo_co/images/homepage/tech_logo_pyramid.svg" alt="pyramid" class="img-fluid mx-auto d-block" />
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="jumbotron logo woocommerce wow slideInDown" data-wow-delay=".2s">
                        <img src="https://niteo.co/static_niteo_co/images/homepage/tech_logo_woocommerce.svg" alt="woocommerce" class="img-fluid mx-auto my-auto d-block" />
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- END TECHNOLOGIES -->

    <!-- BLOG, CONTACT -->
    <section class="technologies">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h1 class="mt-5">Read Our Blog</h1>
                    <div id="blog-fallback">
                        <a href="https://blog.niteo.co/" class="btn btn-primary btn-lg">
              Visit Our Blog
            </a>
                    </div>
                    <div class="row my-5 my-lg-1" id="blog-post-0">
                        <div class="col-sm-4 my-2 my-sm-1 blog-image">
                            <a href="#" target="_blank">
                                <img src="#" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <p class="lead blog-title">
                                <a href="#" target="_blank"></a>
                            </p>
                            <p class="blog-excerpt"></p>
                        </div>
                    </div>
                    <div class="row my-5 my-lg-1" id="blog-post-1">
                        <div class="col-sm-4 my-2 my-sm-1 blog-image">
                            <a href="#" target="_blank">
                                <img src="#" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <p class="lead blog-title">
                                <a href="#" target="_blank"></a>
                            </p>
                            <p class="blog-excerpt"></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col text-center">
                                <h1>Contact Us</h1>
                            </div>
                        </div>
                        <div class="row justify-content-lg-center">
                            <div class=" col-lg-8 text-center">
                                <p>Niteo has team members from Slovenia, Ukraine, Romania, India, and the Philippines. You can reach us at anytime below.</p>
                            </div>
                        </div>
                        <div class="contact text-center">
                            <a href="/contact" class="btn btn-primary btn-lg">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BLOG, CONTACT -->

    <!-- FOOTER -->
    <footer class="bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h6><a href="/projects">Projects</a></h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/projects#flagship">Flagship</a>
                        </li>
                        <li>
                            <a href="/projects#open-source">Open Source</a>
                        </li>
                        <li>
                            <a href="/projects#sold">Sold</a>
                        </li>
                        <li>
                            <a href="/projects#client">Client</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md">
                    <h6><a href="/about">About</a></h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/about#company">Company</a>
                        </li>
                        <li>
                            <a href="/about#timeline">Timeline</a>
                        </li>
                        <li>
                            <a href="/about#giving-back">Giving Back</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md">
                    <h6><a href="/team">Team</a></h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/team#people">People</a>
                        </li>
                        <li>
                            <a href="/team#irl">IRL</a>
                        </li>
                        <li>
                            <a href="/team#conferences">Conferences</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md">
                    <h6><a href="/careers">Careers</a></h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/careers#work-coworkers">Work &amp; Coworkers</a>
                        </li>
                        <li>
                            <a href="/careers#management">Management</a>
                        </li>
                        <li>
                            <a href="/careers#benefits">Benefits</a>
                        </li>
                        <li>
                            <a href="/careers#open-jobs">Open Jobs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md">
                    <h6><a href="/contact">Contact</a></h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/contact#support">Support</a>
                        </li>
                        <li>
                            <a href="/contact#address">Address</a>
                        </li>
                        <li>
                            <a href="/legal/privacy">Legal</a>
                        </li>
                        <li class="social">
                            <a class="mr-1" href="https://www.facebook.com/teamniteo" target="_blank">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            <a class="ml-1" href="https://twitter.com/teamniteo" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row h-100 justify-content-center align-items-center mt-4">
                <p>
                    <small>© 2007 - 2019 Niteo
          </small>
                </p>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->

    <script src="https://niteo.co/static_niteo_co/main.js"></script>

    <!-- Fanstatic body css/js here -->

    <script>
        var loadJS = function(url, implementationCode) {
            // url: URL of external file,
            // implementationCode: code to be called after script is loaded,

            var scriptTag = document.createElement('script');
            scriptTag.src = url;

            scriptTag.onload = implementationCode;
            scriptTag.onreadystatechange = implementationCode;

            document.body.appendChild(scriptTag);
        };

        // Global site tag (gtag.js) - Google Analytics
        var googleTag = function() {
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-116005149-1');
        };

        var loadGoogleTag = function() {
            loadJS('https://www.googletagmanager.com/gtag/js?id=UA-116005149-1', googleTag);
        };

        if (typeof optin !== 'undefined') {
            optin("analytics", loadGoogleTag);
        } else {
            loadGoogleTag();
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            if (typeof gdprCookieNotice !== 'undefined') {
                gdprCookieNotice({
                    statement: 'https://niteo.co/legal/cookies',
                    analytics: ['_gat', '_ga', '_gid', '_gat_gtag_UA_116005149_1'],
                    providers: {
                        essential: "Cloudflare (security)",
                        analytics: "Google Analytics",
                    }
                });
            }
        });
    </script>
{% endblock %}
